<html>
	<body>
		<head>
    <title>Rotten Pxls - About</title>
  	</head>
		<h1>Sobre Nós</h1>
		<br>
		<h2>Quem somos?</h2>
		<p>Um grupo de alunos de Sistemas de Informação da Universidade de São Paulo, futuros desenvolvedores de apps On Rails.</p>
		<h2>O que fazemos?</h2>
		<p>Estamos fazendo uma aplicação em Rails para a matéria de ESI. O professor quer que no final deste semestre o seu curso nos transforme em engenheiros de softwares competentes e perspicazes.</p>
		<h2>Quem nos coordena?</h2>
		<p>
			O <b>FANTÁSTICO</b>, <b>MAGNÍFICO</b> e <b>ÚNICO</b>: <big><b><i>Prof. Dr. Daniel de Angelis Cordeiro</i></b></big>
		</p>
	</body>
</html>