<html>
	<body>
		<head>
    <title>Rotten Pxls</title>
  	</head>
		<h1>Rotten Pixels</h1>
		<br>
		<h2>O que é o Rotten Pixels?</h2>
		<p class="tab">O Rotten Pixels é um site onde fãs e entusiastas de videogames podem ver informações sobre um jogo, avaliar um jogo, verificar a média das notas que outros usuários atribuiram a um jogo, e ver resenhas ou comentários escritos que outros usuários deixaram com relação a um jogo.</p>
	</body>
</html>
