<html>
	<body>
		<head>
    <title>Home</title>
  	</head>
		<h1>Nosso Trabalho de ESI!</h1>
		<p></p>

		<ul>
		  <a href="../users"><li>Users</li></a>
		  <a href="../jogos"><li>Jogos</li></a>
		  <a href="../static_pages/about"><li>About</li></a>
		  <a href="../static_pages/help"><li>Help</li></a>
                  <a href="../sessions/new"><li>Login</li></a>
		</ul>

	</body>
</html>
