<html>
	<body>
		<head>
    <title>Home</title>
  	</head>
		<h1>Nosso Trabalho de ESI!</h1>
		<p></p>

		<ul>
		  <a href="https://engenharia-ach2006.herokuapp.com/users"><li>Users</li></a>
			<a href="/items"><li>Items</li></a>
		  <a href="https://engenharia-ach2006.herokuapp.com/static_pages/about"><li>About</li></a>
		  <a href="https://engenharia-ach2006.herokuapp.com/static_pages/help"><li>Help</li></a>
                  <a href="https://engenharia-ach2006.herokuapp.com/users/login"><li>Login</li></a>
		</ul>

	</body>
</html>
