<h1>Editing User</h1>

<div class="text-center">
<%= render 'form', user: @user %>

<%= link_to '<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>'.html_safe, @user %> |
<%= link_to '<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'.html_safe, users_path %>
</div>