<html>
  <body>
    <head>
    <title>Ajude-nos a melhorar!</title>
    </head>
    <h1>Por favor, se tiver qualquer comentário a respeito de nossos serviços, deixe-nos saber!</h1>
    <p></p>
  </body>
</html>

<%= render 'feedbackForm', user: @user %>

<%= link_to 'Back', users_path %>