<table>
  <thead>
  <tr>
    <th>Avaliacao</th>
    <th>Jogo ID</th>
    <th>User ID</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @usuario_avalia_jogo.each do |avalia| %>
      <tr>
        <td><%= avalia.avaliacao %></td>
        <td><%= avalia.jogo_id %></td>
        <td><%= avalia.user_id %></td>
      </tr>
  <% end %>
  </tbody>
</table>