<html>
	<!--Começo Header -->
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="search.scss">
		<h1> Procure o item que deseja aqui!</h1>
  	</head>
	<!-- End Header -->

	<!-- Começo Body -->

	<body>
		
		<%= form_tag(searchs_search_path, :method => "get", id: "search-form") do %>
   		<%= text_field_tag :search, params[:search], placeholder: "Buscar..." %>
   	        <%= submit_tag "Pesquisar", :name => nil %>
	        <% end %>
		
	<!-- Eu ainda não sei como isso aqui funciona direito, então vou deixar essa parte comentada!!!!!

	<form action="/searchs/search" accept-charset="UTF-8" method="get">
  		<input name="utf8" type="hidden" value="&#x2713;" />
  		<input type="hidden" name="authenticity_token" value="pRsj8YjL" />
  		<input type="search" name="search" id="search" />
  		<input type="submit" name="commit" value="Search" data-disable-with="Search" />
	</form>
	
	-->
	
		

	</body>

	<!-- End Body -->
</html>
