<h1> Add review </h1>
<%= form_for :review, url: reviews_path do |f| %>

  <p class="field">
    <%= f.label :body %>
    <%= f.text_field :body%>
  </p>

  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>